<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoalPage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39303FA71F2A9D050046FBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39303FBB1F2A9D050046FBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39303FC61F2A9D050046FBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
